
body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

.custom-text{
  color: rgb(255, 255, 255);
  text-shadow: 0 1px 0 rgba(255, 0, 98, 0.233);
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}
#circle-images{
  border: 2px solid hsl(0, 0%, 85%);
  padding: 1px;
}
#square-image{
  border: 2px solid hsl(0, 0%, 85%);
  padding: 1px;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.doh1{
  text-align: center;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 0, 98, 0.247);
}

@media (min-width: 768px) {
  .content{
    padding-left: 7rem; 
    padding-right: 7rem;
  }
}
